<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Mini Option card</title>
</head>
<body>
    <h1>Awesome mini-card</h1>
    <div class="mini-card">
        <div class="content">
            <div class="text">
                <div class="title">TITLE</div>
                <div class="headline">Heading</div>
                <div class="description">This is a sample card and customization can be done in order to reuse it...</div>
            </div>
            <div class="img">
                <img src="./microscop.webp" alt="">
            </div>
        </div>
        <div class="controls">
            <button class="btn open">Open</button>
            <button class="btn close">Cancel</button>
        </div>
    </div>
</body>
</html>