<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Text Input - styling</title>
</head>
<body>
    <h1>Text input Styled</h1>
    <div class="input-div">
        <input type="text" name="name" id="name-input" autocomplete="off" required />
        <label for="name-input" class="label-input">
            <span class="label-text">
                Name
            </span>
        </label>
    </div>
</body>
</html>