.bg{
    background-color: hsl(180, 66%, 49%);
    border-radius: 50px;
    border: 0px;
    padding:8px 18px;
    font-weight: 700;
    color: #FFF;
    font-size: 14px;
    outline: 0px;
    cursor: pointer;
    transition: 0.3s;
}
.bg:hover{
    background-color: hsla(180, 66%, 49%, 0.8);
    box-shadow: 0 1px 2px 0 #EEE;
}