<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Card</title>
</head>
<body>
    <h1>Card</h1>
    <div class="card">
        <div class="img-container">
            <img src="./run.jpeg" alt="">
        </div>
        <div class="card-content">
            <div class="card-title">Fit Kit</div>
            <div class="card-description">This kit as the name suggests helps get you fit & also offers a free <strong>fitness tracker watch</strong>.</div>
            <button>Try it !!</button>
        </div>
    </div>
</body>
</html>