* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-loader {
  display: flex;
}

.block-loader > .block {
  background-color: grey;
  width: 9px;
  height: 30px;
  margin: 0 2px;
  /* aspect-ratio: 0.3; */
}

.block-1 {
  animation: enlarge 0.6s ease-in-out infinite;
}

.block-2 {
  animation: enlarge 0.6s ease-in-out infinite;
  animation-delay: 0.1s;
}

.block-3 {
  animation: enlarge 0.6s ease-in-out infinite;
  animation-delay: 0.2s;
}

@keyframes enlarge {
  0% {
    transform: scaleY(1);
  }
  33% {
    transform: scaleY(1.5);
  }
  66% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
