.invite{
    width:100%;
    background-color: hsl(257, 27%, 26%);
    background-image: url(../../assets/images/bg-boost-desktop.svg);
    background-size: cover;
    padding:40px 0;
}
.title{
    font-weight: 700;
    font-size: 30px;
    padding: 10px;
    color: #FFF;
}
@media screen and (max-width:768px){
    .title{
        font-size: 24px;
    }
}