.features{
    width:100%;
    display: flex;
    margin-top:80px;
    justify-content: space-between;
}
@media screen and (max-width:768px){
    .features{
        flex-direction: column;
        align-items: center;
    }
}