:root{
    /* --anim: fill-in 3000ms cubic-bezier(0.645, 0.045, 0.355, 2); */
    /* --anim: fill-in 1600ms ease-in; */
    /* --anim: fill-in 1000ms cubic-bezier(0.55, 0.135, 0.45, 0.686); */
    --anim: fill-in 2000ms ease-in-out;
    /* transition-timing-function:  */
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #292C33;
}
.title-heading{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
/* #title-svg path{
} */
#title-svg path:nth-child(1){
    stroke-dasharray: 388;
    stroke-dashoffset: 388;
    animation: var(--anim) 0ms forwards;    
}
#title-svg path:nth-child(2){
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: var(--anim) 0ms forwards;    
}
#title-svg path:nth-child(3){
    stroke-dasharray: 303;
    stroke-dashoffset: 303;
    animation: var(--anim) 0ms forwards;    
}
#title-svg path:nth-child(4){
    stroke-dasharray: 286;
    stroke-dashoffset: 286;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(5){
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(6){
    stroke-dasharray: 231;
    stroke-dashoffset: 231;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(7){
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(8){
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(9){
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(10){
    stroke-dasharray: 244;
    stroke-dashoffset: 244;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(11){
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: var(--anim) 500ms forwards;    
}
#title-svg path:nth-child(12){
    stroke-dasharray: 298;
    stroke-dashoffset: 298;
    animation: var(--anim) 500ms forwards;    
}
@keyframes fill-in{
    to{
        stroke-dashoffset: 0;
    }
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    color:#FFF;
}