*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    padding: 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    width: 100%;
    justify-content: space-around;
}
.card-flip{
    width:400px;
    height:250px;
    margin:0;
    position: relative;
    cursor: pointer;
    background-color: #278193;
    background-image: url(./item.jpeg);
    background-position: center;
    transition-duration: 800ms;
    transform-style: preserve-3d; /* Important property here */
}
.card-flip:hover{
    transform: rotateX(180deg);
    background-image: none;
}
.card-front, .card-flip .card-back{
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color:#FFF
}
.card-flip .card-back{
    /* display: none; */
    opacity: 0;
    transform: rotateX(-180deg);
}
.card-flip:hover .card-back{
    /* display: flex; */
    opacity: 1;
    flex-direction: column
}
.card-flip:hover .card-front{
    /* display: none; */
    opacity: 0;
}
button{
    margin:25px;
    padding:0.5rem;
    /* border:2px solid transparent; */
    border-radius: 0.5rem;
    background: #db4cac;
    color: #FFF;
}


.card-flip-down{
    width:400px;
    height:250px;
    margin:0;
    position: relative;
    cursor: pointer;
    background-color: #278193;
    background-image: url(./item.jpeg);
    background-position: center;
    transition-duration: 800ms;
}

.card-flip-down .card-back-down{
    position: absolute;
    z-index: -1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 101%;
    height: 103%;
    top: 0;
    background: grey;
    border-radius: 8px;
    transition: all 800ms ease;
    transform: rotateX(180deg);
}

.card-flip-down:hover .card-back-down{
    top: 105%;
    transform: rotateX(0deg);
}