<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Chrome Tabs</title>
</head>
<body>
    <div class="chrome-tabs">
        <div class="tab-click" id="active-tab-click">Google<button class="close-tab" onclick='closeTab()'>X</button></div>
        <div class="tab-click">Facebook<button class="close-tab" onclick="closeTab()">X</button></div>
        <div class="tab-click">Apple<button class="close-tab" onclick="closeTab()">X</button></div>
        <div class="tab-click">Amazon<button class="close-tab" onclick="closeTab()">X</button></div>
    </div>
    <div class="container">Google</div>
    <script src="script.js"></script>
</body>
</html>