<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Flex | Image Gallery</title>
</head>
<body>
    <h3>Responsive Image Gallery</h3>
    <div class="gallery-flex">
        <div class="column">
            <img src="https://images.pexels.com/photos/4319001/pexels-photo-4319001.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3704460/pexels-photo-3704460.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3860667/pexels-photo-3860667.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/34225/spider-web-with-water-beads-network-dewdrop.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4068378/pexels-photo-4068378.jpeg?auto=compress" alt="">
        </div>
        <div class="column">
            <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3704460/pexels-photo-3704460.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3860667/pexels-photo-3860667.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4068378/pexels-photo-4068378.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4319001/pexels-photo-4319001.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/34225/spider-web-with-water-beads-network-dewdrop.jpg?auto=compress" alt="">
        </div>
        <div class="column">
            <img src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/34225/spider-web-with-water-beads-network-dewdrop.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4319001/pexels-photo-4319001.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3860667/pexels-photo-3860667.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4068378/pexels-photo-4068378.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3704460/pexels-photo-3704460.jpeg?auto=compress" alt="">
        </div>
        <div class="column">
            <img src="https://images.pexels.com/photos/34225/spider-web-with-water-beads-network-dewdrop.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3860667/pexels-photo-3860667.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4319001/pexels-photo-4319001.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/3704460/pexels-photo-3704460.jpeg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress" alt="">
            <img src="https://images.pexels.com/photos/4068378/pexels-photo-4068378.jpeg?auto=compress" alt="">
        </div>
    </div>
    <p>All images are from pexels.</p>
</body>
</html>