*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.header{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    /* background: url(./wallpaper.jpg) no-repeat; */
    /* background: rgb(144, 210, 230); */
    background-image: linear-gradient(135deg, rgb(131, 228, 228) , pink);
    background-size: cover;
    background-position: left;
    align-items: center;
    background-attachment: fixed;
}
.header div{
    padding: 50px;
}
.header h1{
    margin: 10px 0;
    color: #333
}
.header button{
    padding:0.5rem;
    /* border:2px solid transparent; */
    border-radius: 1rem;
    outline: 0;
    background: #db4cac;
    color: #FFF;
    cursor: pointer;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.services{
    display: flex;
    min-height: 80vh;
    justify-content: space-around;
    align-items: center;
}
.content, .img{
    width:40%;
}
.content{
    padding:10px 50px;
    transition: 1s;
    transform: translateX(-50px);
    opacity: 0;
}
.img{
    transition: 1s;
    transform: translateX(50px);
    opacity: 0;
}
.content-appear{
    opacity: 1;
    transform: translateX(0);
}
.img-appear{
    opacity: 1;
    transform: translateX(0);
}
.content h2{
    margin: 1rem 0;
}
img{
    width:80%;
    height:80%;
}