<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relative</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div class="section1">
        <div class="content">
            <h1>Where are you now ?</h1>
            <p>Be here and be active.</p>
            <button>Get Started!</button>
        </div>
        <div class="circle"></div>
    </div>
    <div class="art"></div>
    <div class="section2">
        <div class="about">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, assumenda! Iste nisi, enim soluta at ducimus nihil quaerat magni nobis eaque dolores exercitationem sint unde, laborum quas hic veritatis officiis?
            Commodi voluptatum beatae nostrum soluta sunt. Laudantium ullam esse illum minima illo voluptatem alias placeat laboriosam. Expedita voluptatem quasi libero quod amet dolor consequatur cumque, fuga non rerum. Amet, sit.
            Similique aliquid corrupti veritatis sapiente ex fugiat nesciunt quam voluptas aperiam illo nisi fugit blanditiis id natus dolor, ratione et placeat impedit doloribus vero quis error nihil. Error, soluta ab.
            Inventore vero quidem, ipsam facilis dolor cum vitae. Atque saepe nemo culpa velit, eum impedit earum ex excepturi dolorem, qui enim sed quod in magni laborum animi deserunt, odit eligendi.</p>
        </div>
    </div>
    <div class="section3">
        <h1>Services</h1>
        <div class="services">
            <div class="card" onmouseover="chng(this)" onmouseout="chng(this)">
                <h3>Portfolio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam tempore dicta veritatis, rem, volume.</p>
                <button>More...</button>
            </div>
            <div class="card" onmouseover="chng(this)" onmouseout="chng(this)">
                <h3>Guidence</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam tempore dicta veritatis, rem, volume.</p>
                <button>More...</button>
            </div>
            <div class="card" onmouseover="chng(this)" onmouseout="chng(this)">
                <h3>Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam tempore dicta veritatis, rem, volume.</p>
                <button>More...</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <h1>Company</h1>
        <div>
            <pre>Connect :
            fb
            insta
            twitter</pre>
        </div>
    </div>
    <script>
        let cards = document.getElementsByClassName('card');
        const chng = (x) => {
            // console.log(x.lastElementChild);
            if(x.lastElementChild.style.visibility==="visible") {
                x.lastElementChild.style.visibility="hidden";
            }else{
                x.lastElementChild.style.visibility="visible";
            }
        }
    </script>
</body>
</html>