<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Mobile Design</title>
  </head>
  <body>
    <h1>Nexus 6P Design Division</h1>
    <div class='mobile-nexus'>
      <div class="mobile">
        <div class="mobile-top">
          <div class="sensor"></div>
          <div class="earpiece"></div>
        </div>
        <div class="main-section">
            Hello World
        </div>
        <div class="mobile-bottom">
          <div class="speaker"></div>
        </div>
      </div>
    </div>
  </body>
</html>
