* {
    font-familt: consolas;
    margin: 0;
    color: white;
    padding:0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
  }
  
  .wave {
    position: relative;
    -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,0.3));
  }
  
  .wave span {
    position: relative;
    display: inline-block;
    font-size: 3em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  
  @keyframes animate {
    from {
      transform: scale(0);
    }
  }

footer {
    position: absolute;
    bottom: 1vw;
    width: 90%;
}
  
footer p {
    font-family: 'Kaushan Script', cursive;
    color: darkviolet;
    font-weight: bold;
    font-size: 22px;
    float: right;
}