<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Menu</title>
</head>
<body>
    <nav>
        <h1>Company</h1>
        <div class="menu-opener" onclick="openMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="menu">
            <li><a  class="menu-item" href='#'>Item 1</a></li>
            <li><a  class="menu-item" href='#'>Item 2</a></li>
            <li><a  class="menu-item" href='#'>Item 3</a></li>
        </ul>
    </nav>
    <script>
        const list = document.querySelector('.menu');
        const openMenu = () => {
            window.event.stopPropagation();
            list.id = 'menu-visible';
        }
        document.onclick = (e) => {
            if(!e.target.classList.contains('menu-opener')){
                list.id = '';
            }
        };
    </script>
</body>
</html>